body {
      background-color: #f5f6fa;
      color: #000000 ;
      background-color: #282A36 ;
      font-size: 20px;
      position: flex ;
      top: 0px;
      width: auto;
      margin: 0 auto;
      }

@media (prefers-color-scheme: no-preference) {
body {
      background-color: #f5f6fa;}
}

@media (prefers-color-scheme: dark) {
body {
      background-color: #282A36;
      }
.nom {
      background-color: #343746;}
}

@media (prefers-color-scheme: light) {
body {
      background-color: #f5f6fa;}
}

.page-content {
      width: auto;
      margin: 0px auto;
      }

.menu {
      display: flex;
      padding: 0;
      background-color: #f5f6fa;
      margin-top: 0px;
      width: 99.95%;
      justify-content: right;
      }

.menu li {
      list-style: none;
	padding-left: 0px;
      }

.menu a {
      display:block;
      min-width: 60px;
      margin: 1%;
      padding: 0.4rem 0;
      text-align: center;
      background-color: #282A36;
      color: #FFFFFF;
      text-decoration: none;
      border: 1px solid #FFFFFF;
      border-radius: 4px;
      font: 0.8em "Noto Sans", sans-serif;
      box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.1);
      border-radius: 4px;
}

.menu a {
      display: block;
      min-width: 120px;
      }

.menu a:hover {
  background-color: #c50000;
  color: #ffffff;
  border-color: #f5f6fa;
}

.container {
      width: 98%;
      margin: 40px auto;
      }

.card {
      display: flex;
      align-items: center;
      width: 55%;
      min-width: 450px;
      color: #ffffff;
      margin: 2% auto;
      text-align: center;
      background-color: #343746;
      padding: 2px;
      font: bold 2em "Noto Sans", sans-serif;
      box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.1);
      border-radius: 4px;
      }

.card img {
      width: 200px;
      height: 200px;
      margin: .1em;
      object-fit: cover;
      }

.card p {
      position: relative;
      flex-grow: 1;
      padding-left: 20px;
      text-align: center;
}

h1 {
	color: white;
	background-color: #343746;
	text-align: left;
      font: 30px "Noto Sans", sans-serif;
	}

h3 {
      color: #6C757D;
      font: italic 1.2em "Noto Sans", sans-serif;
      }


.groupe {
      margin: 1%;
      padding: .1rem;
      background-color: #eeeeee;
      font: 1.2em "Noto Sans", sans-serif;
      box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.1);
      border-radius: 4px;
      text-align: left;
      width: 45%;
      }

.groupe > h1,

.fait {
        margin: .5rem;
        padding: .3rem;
        font-size: 1.2rem;
        border-radius: 4px;
      }

.fait > h2,

.fait > h3,

.fait > p {
      margin: .2rem;
      font-size: 1rem;
      }

.contact { /*contact en bas de page */
    color: #FFFFFF;
    background-color: #343746;
    padding: .3rem;
    font: 1.2rem "Noto Sans", sans-serif;
    box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.1);
    border-radius: 4px;
    text-align: center;
    width: 45%;
    margin: 2% auto;
    text-decoration: none;
    }

::selection{
  background-color: #c50000;
  color: white;
}

::-moz-selection {
  background-color: #C50000;
  color: white;
}

@media (max-width:1920px) {
      .page {
            width: 800px;
            margin: 40px auto;}
      
      .groupe {
      width: 45%;}
      }

@media (max-width:1350px) {
      .page {
            width: 800px;
            margin: 40px auto;}
      
      .groupe {
      width: 98%;}
      }